/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ******/
header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 61px;
    height: 19px;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-right: 50px;
}

nav {
    gap: 68px;
    display: flex;
}

nav a {
    margin-top: -8px;
}

.boite-nav p {
    margin-top: 5px;
}


nav a:hover {
    border-top: 2px var(--main-color) solid;
    color: var(--main-color);
}

/****** Section informations *******/
.section-info {
    gap: 35px;
    display: flex;
    flex-direction: column;
}

.section-info p {
    margin-top: 0px;
    margin-bottom: 0px;
}

/****** Titre de la page ********/
.titre-de-la-page {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titre-de-la-page h1 {
    font-size: 22px;
    margin-bottom: 0px;
}

/****** Formulaire de recherche *******/
.formulaire-de-recherche {
    display: flex;
}
.formulaire-de-recherche i {
    background-color: var(--main-bg-color);
    padding: 20px;
    color:black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#searchsite {
    font-size: 18px;
    font-weight: 700;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    padding-left: 23px;
}

.searchbutton {
    color: white;
    background-color: var(--main-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 18px;
    padding-right: 18px;
}

.searchbutton span {
    font-size: 18px;
    font-weight: 700;
}

.searchbutton i {
    color: white;
    background-color: var(--main-color);
    display: none;
}

/****** Filtres ********/
.filtres {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 18px;
}

.filtres h3 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 18px;
}

.filtres-menu {
    display: flex;
}

.filtre-bouton {
    display: flex;
    border: 2px var(--main-bg-color) solid;
    border-radius: 20px;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    gap: 10px;
    height: 50px;
    font-size: 17px;
    font-weight: 700;
    margin-right: 5px;
}

.filtre-bouton:hover {
    background-color: var(--filter-bg-color);
}

/******* Strip nb hébergements dans la ville choisie *******/

.logements-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
}

.logements-info i {
    border: 2px var(--main-bg-color) solid;
    border-radius: 20px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    row-gap: 30px;
    margin-top: 20px;
}

.hebergements-cards a {
width: 30%;
height: 270px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hebergements-cards .card img {
    height: 124px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******* Activités *******/
.activités {
    margin-top: 30px;
    margin-bottom: 30px;
}

.activités .section-title {
    margin-bottom: 15px;
}
.activités-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activités-container a {
    width: 22%;
}

.activités .card img {
    height: 380px;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/****** Footer *******/
.footer {
    display: flex;
    background-color: var(--main-bg-color);
    align-items: flex-start;
}
.colonne-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width:33%;
}

.colonne-footer span {
    font-size: 18px;
    font-weight: 700;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    .filtres {
        flex-direction: column;
        align-items: flex-start;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activités-container {
        flex-wrap: nowrap;
    }

    .activités .card img {
        max-height: 200px;
        max-width: 100%;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .main-container {
        padding: 0px;
    }
    header {
        flex-direction: column;
    }

    .logo {
        display: flex;
        justify-content: center;
        height: 40px;
        margin-bottom: 10px;
    }

    .logo img {
        margin-right: 0px;
        margin-top: 10px;
    }

    nav {
        justify-content: space-between;
        gap: 0px;
    }

    nav a {
        width: 50%;
        margin: 0px;
    }

    nav a:active {
        border-bottom: 2px var(--main-color) solid;
        color: var(--main-color);
    }

    nav a:focus {
        border-bottom: 2px var(--main-color) solid;
        color: var(--main-color);
    }

    .boite-nav {
        border-bottom:2px var(--main-bg-color) solid;
        padding-bottom: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #searchsite {
        width: 70%;
        padding-left: 10px;
    }

    .searchbutton {
        border-radius: 20px;
        margin-left: -15px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .searchbutton i {
        display:block;
        border-radius: 20px;
    }

    .searchbutton span {
        display: none;
        font-weight: 800;
    }

    .filtres-menu {
        flex-wrap: wrap;
        row-gap: 5px;
    }

    .filtre-bouton {
        padding-right: 0px;
        padding-left: 10px;
        width: 42%;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .populaires {
        margin-top: 0px;
    }

    .populaires-cards {
        flex-wrap: wrap;
    }

    .populaires-cards a {
        width: 100%;
    }

    #ancre-hebergements {
        background-color: white;
    }

    .hebergements-cards a {
        width: 100%;
        height: auto;
    }

    .hebergements-cards img {
        object-position: center;
    }

    .hebergements-cards h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .hebergements-cards p {
        margin-top: 0px;
        margin-bottom: 5px;
    }
    
    .activités-container {
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .activités-container a {
        width: 100%;
    }

    .activités-container a img {
        max-width: none;
    }

    .footer {
        flex-wrap: wrap;
    }

    .colonne-footer {
        width: 100%;
    }
}


